    body {
        background-image: url(math.jpg);
        background-repeat: no-repeat;
        background-size: 1400px;
    }
    
    h1 {
        font-size: 45px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: white;
        border-radius: 8px;
        width: 43%;
        margin-left: 30%;
        padding: 20px;
    }
    
     ::placeholder {
        color: black
    }
    
    input {
        background-color: white;
        border: 0;
        font-size: 20px;
        border-radius: 8px;
        width: 20%;
        padding: 15px;
        text-align: center;
        caret-color: transparent;
    }
    
    input#a {
        margin-top: 90px;
        margin-left: 200px;
    }
    
    input#b {
        margin-left: 20px;
    }
    
    input#c {
        margin-left: 20px;
    }
    
    input#a:hover {
        background-color: #0000FF;
        color: white;
    }
    
    input#b:hover {
        background-color: #00FF00;
        color: white;
    }
    
    input#c:hover {
        background-color: #DC143C;
        color: white;
    }
    
    button {
        background-color: #00FF00;
        padding: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: 0;
        border-radius: 8px;
        font-size: 25px;
        margin-left: 5px;
    }
    
    input#resultado {
        margin-left: 40%;
        margin-top: 120px;
    }
    
    input#resultado:hover {
        background-color: #FFD700;
    }